<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>XObject -- detect & track object from video</title>
</head>
<body>
    <div class="flex min-h-screen bg-gray-100">
        <div class="w-1/4 bg-blue-900 text-white p-6">
            <h2 class="text-2xl font-bold mb-6">
                <p class="mb-2"><a href="{{ url_for('index') }}" class="hover:underline">Home</a></p>
            </h2>
            <ul>
                <li class="mb-4"><a href="{{ url_for('upload') }}" class="text-white hover:text-gray-300">Upload Video</a></li>
                <li class="mb-4"><a href="{{ url_for('result') }}" class="text-white hover:text-gray-300">View Results</a></li>
                <li class="mb-4"><a href="{{ url_for('uploaded_videos') }}" class="text-white hover:text-gray-300">Uploaded Videos</a></li>
            </ul>
        </div>
        <div class="w-3/4 p-10">
            <h1 class="text-4xl font-bold mb-6">Welcome to the Object Tracking From Video App</h1>
            <p class="text-lg">Use the sidebar to navigate through the application.</p>
        </div>
    </div>
</body>
</html>